.footer{
    width: 100%;
    background-color: rgb(99, 99, 99);
    color: white !important;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h4{
        overflow:hidden;
    }
  }
    
  